## Django

# Provide a secret key for Django.
# https://www.browserling.com/tools/random-string can be used to generate a key.
DJANGO_SECRET_KEY=CREATE_A_KEY

# Disable debugging for Django in production.
DEBUG=False

## JMdict

# Provide the path to the JMDict_e dictionary database file
JMDICT_PATH=PATH_TO_JMDICT

## MongoDB

MONGODB_DATABASE=db