## Django

# Provide a secret key for Django.
# https://www.browserling.com/tools/random-string can be used to generate a key.
DJANGO_SECRET_KEY=CREATE_A_KEY

# Disable debugging for Django in production.
DEBUG=False